{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper" >
				<p>Contact Information:</p>
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="form-field">
							<input required class="form-control" type="phone" name="phone" placeholder="Phone">
						</div>
					</div>

					<div id="shipping-info">
						<br>
						<p>Shipping Information:</p>
						<div class="form-field">
							<input class="form-control" type="text" name="flat" placeholder="Flat No. (eg. A-901)">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="apartment" placeholder="Apartment">
						</div>
						<!-- <div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div> -->
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-warning btn-sm" href="{% url 'cart' %}">< Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:1"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
					<div style="flex:2"><p>Product 1<br>&#8377; 100.00 &#215; 2</p></div>
				</div>
				<h5>Total (2 items): &#8377; 200</h5>
			</div>
		</div>
	</div>
{% endblock content %}