{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper" >
				<h4 style="text-align: center;">Enter Details</h4>
				<br>
				<p style="text-align: center;">Contact Information</p>
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="form-field">
							<input required class="form-control" type="phone" name="phone" placeholder="Phone">
						</div>
					</div>

					<div id="shipping-info">
						<br>
						<p style="text-align: center;">Shipping Information</p>
						<div class="form-field">
							<input class="form-control" type="text" name="flat" placeholder="Flat No. (eg. A-901)">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="apartment" placeholder="Apartment">
						</div>
						<!-- <div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div> -->
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-warning btn-sm" href="{% url 'cart' %}">< Back to Cart</a>
				<hr>
				<h4 style="text-align: center;">Order Summary</h4>
				<br>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:1"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}<br>&#8377; {{item.product.price}} &#215; {{item.quantity}}</p></div>
				</div>
				<br>
				{% endfor %}
				<h5 style="text-align: center;">Total ({{order.get_cart_items}} items): &#8377; {{order.get_cart_total}}</h5>
			</div>
		</div>
	</div>
{% endblock content %}