{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-4" style="margin: auto;">
		<h4 style="text-align: center;">Add Customer</h4>
		<!-- </div> -->
		<hr>
		<div class="card card-body">
			<form action="" method="POST">
				{% csrf_token %}
				<table class="table">
					{{form.as_table}}
				</table>
				<div class="wrapper" style="text-align: center;">
					<input class="btn btn-primary btn-block" type="submit" name="Submit">
				</div>
				<br>
			</form>
		</div>
	</div>
</div>

{% endblock %}