{%  extends 'store/main2.html' %}

{% block content %}

{%  include 'store/status.html' %}

<style type="text/css">
	table{
		border-spacing: 10px;
		border-collapse: separate;
	}
</style>


<br>

<div class="row">
	<div class="col-md-12" style="margin: auto;">
		<!-- <div class="card card-body">
			<h5 style="text-align: center;">Orders</h5>
		</div> -->
		<div class="card card-body">
			<!-- <a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a> -->
			<table class="table table-sm">
				<tr>
					<!-- <th></th> -->
					<th>Customer</th>
					<!-- <th></th> -->
					<th>Address</th>
					<!-- <th>Apartment</th> -->
					<th>Phone</th>
					<th>Product</th>
					<!-- <th>Quantity</th> -->
					<!-- <th></th> -->
					<th>Amount</th>
					<th>Status</th>
					<th>Payment</th>
					<th></th>
				</tr>
				{% for order,item,address in mylist %}
					<tr>
						<!-- <td>{{order.date_ordered}}</td> -->
						<td><strong>{{order.customer.name}}</strong></td>
						<!-- <td>&emsp;</td> -->
						<td>{{address.0.0}}, {{address.0.1}}</td>
						<!-- <td>{{address.0.1}}</td> -->
						<td>{{order.customer.phone}}</td>
						<td>{% for j in item %}{{j.0}} ({{j.1}})<br>{% endfor %}</td>
						<!-- <td>{% for j in item %}{{j.1}}<br>{% endfor %}</td> -->
						<!-- <td><strong>= {{order.get_cart_items}}</strong></td> -->
						<td>{{order.get_cart_total}}<br>({{order.get_cart_items}} Items)</td>
						<td>{{order.status}}</td>
						<td>{{order.paid|yesno:"Paid,Due"}}</td>
						<td><a class="btn btn-warning btn-sm" href="{% url 'updateOrder' order.id %}">Update</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<!-- <div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
			</table>
		</div>
	</div> -->

</div>

{% endblock %}