@font-face {
    font-family: 'product_sansregular';
    src: url('../fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansitalic';
    src: url('../fonts/product_sans_italic-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansbold';
    src: url('../fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansbold_italic';
    src: url('../fonts/product_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.logo{
	width: 250px;
	height: 100%;
}

.row-image{
	width: 100px;
	height: 100px;
	overflow: hidden;
    object-fit: cover;

}

body{
	background-color: #000;
	color: #000;
	font-family: product_sansregular;
	font-weight: normal;
	font-size: 17px;
}

nav{
    background-color: #000;
    font-family: product_sansregular;
}

th{
	color: #000;
	font-family: product_sansbold;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 50px;
}

h4{
	color: #fff;
	font-family: product_sansbold;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*line-height: 50px;*/
}

.nav-link{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.card{
	background-color: #e1e1e1;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited{
	background-color: #ef4b4b;
	border-color: #ef4b4b;
	color: #000;
	font-family: product_sansbold;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited{
	background-color: #028fa3;
	border-color: #028fa3;
	color: #000;
	font-family: product_sansbold;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited{
	background-color: #f79b19;
	border-color: #f79b19;
	color: #000;
	font-family: product_sansbold;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
	background-color: #7ecfc0;
	border-color: #7ecfc0;
	color: #000;
	font-family: product_sansbold;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.price{
	font-family: product_sansbold;
	font-weight: normal;
}

hr{
	background-color: #000;
}

footer{
	background-color: #000;
	color: #fff;
	/*position: fixed;*/
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 18em;
}

/*th{
	text-align: center;
}

td{
	text-align: center;
}*/


#total-orders{
	background-color: #a2de96;
}

#orders-pending{
	background-color: #3ca59d;
}

#orders-ready{
	background-color: #ec8f6a;
}

#orders-delivered{
	background-color: #e79c2a;
}